
:root {
  --text-color:rgb(255, 255, 255);
  --back-color: #fcebbc;
  /* --back-color: #f0dabe; */
  /* --back-color: #7EA8BEs */
}

* {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--back-color);
    ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242325
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* GLOBAL CLASSES */
.responsive {
  max-width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 30%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.calc-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  align-items: center;
}

.calc-grid-hop {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  align-items: center;
}

.form-item {
  border-bottom: solid #175676 2px;
  width: 90%;
  padding: 3%;
}
.form-item > * {
  margin: 0 5px
  }

  input {
    padding: .5%;
    border-radius: 4px;
    height: fit-content;  
    border: solid #175676 2px;
    
  }
  
  select {
    padding: .5%;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    border: solid #175676 2px;
    background-color: #175676;
    color: white;
    }

  .interact {
    cursor: pointer;
    width: fit-content;
    
  }

.hidden {
  display: none;
}
/* CUSTOM CLASSES */

.landing-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
 
}

.logo {
  margin-bottom: 5%;
}


.button-wrap {
  position: relative;
}

#start-text {
 transform: rotate(-25deg);
  font-family: "sneakers-pro", sans-serif;
font-weight: 500;
font-style: normal;
color: var(--back-color);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  display: flex;
  justify-content: right;
  
 

}

nav img {
  width: 20%;
}


nav li {
  text-decoration: none;
  list-style: none;
}

.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  
 
}

.calc-header {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items:center;
  margin-bottom: 15%;
}

.calc-header-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  padding: 5%;
  border-radius: 10px;
  /* background-color:ivory; */
}

.recipe-input {
  margin-left: 2%;
}



#savebtn {
  height: fit-content;
  padding: 2%;

}

.form-header {
  /* background-color: #175676 ; */
  /* border-radius: 6px; */
  
 
  color: #175676;
  padding: 1%;
}

.form-header h4 {
  margin-left: 1%;
}

.input-small {
  width: 28px;
}

.stats-output {
  display: flex;
  
}


.stats-output h3 {
 margin: 0 5%;
  
}



.ferm-calc {
  /* background-color: #cbe2ee ; */
  border: solid #175676 4px;
  border-radius: 10px;
  margin-bottom: 2%;;
}

.hop-calc {
  /* background-color: #cbe2ee ; */
  border: solid #175676 4px;
  border-radius: 10px;
}