
:root {
  --text-color:rgb(255, 255, 255);
  --back-color: #3a3839;
  --accent-red: #cc695e;
  --accent-tan: #d8bd8a;
  --text-light: #ddd
  /* --back-color: #f0dabe; */
  /* --back-color: #7EA8BEs */
}

* {
  margin: 0 auto;
   font-family: "factoria", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--back-color);
    ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-light)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* GLOBAL CLASSES */

.link {
  text-decoration: none;
}

.accent-red {
  color: var(--accent-red)
}

.accent-tan {
  color: var(--accent-tan)
}


.nav-link {
  text-decoration: none;
  color: var(--accent-tan)
}

.responsive {
  max-width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 30%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.calc-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  align-items: center;
}

.calc-grid-hop {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  align-items: center;
}

.form-item {
  border-bottom: solid var(--accent-red) 2px;
  width: 90%;
  padding: 3%;
}
.form-item > * {
  margin: 0 5px
  }

  input {
    padding: .5%;
    border-radius: 4px;
    height: fit-content;  
    border: solid var(--accent-red) 2px;
    background-color: #b3b3b3;
  }
  
  select {
    padding: .5%;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    font-weight: 100;
    border: solid var(--accent-red) 2px;
    background-color: var(--accent-red);
    color: var(--back-color)
    }

   button {
    background-color: var(--accent-red);
    border-radius: 6px;
    padding: 1% 4%;
    font-size: 20px;
    font-family: "bebas-neue-rounded", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
  color: var(--back-color);
  text-transform: uppercase;
   } 

    .stats-output input {
      all: unset;
      width: 20%;
      margin: 0 4px;
    }

    .stats-output label {
      margin-left: 5%;
    }

  .interact {
    cursor: pointer;
    width: fit-content;
    
  }

.hidden {
  display: none;
}



/* CUSTOM CLASSES */

.landing-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
 
}

.landing-wrap h3 {
  width: 80%;
  text-align: center;
  font-family: "factoria", serif;
font-weight: 800;
font-style: normal;
color: var(--accent-tan);

}

.logo {
  margin-bottom: 5%;
}


.start {
  margin-top: 10%;
  width: 200px;
  background-color: var(--accent-red);
  font-size: 20px;
  font-family: "bebas-neue-rounded", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* font-family: "factoria", serif;
  font-weight: 900;
  font-style: normal; */
color: var(--back-color);
text-transform: uppercase;
border-radius: 8px;
padding: 5%;
}

.login {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;

}

.login form {
  margin: 2%;
  margin-bottom: 5%;
}

.login form > * {
  margin: 1% 2%;
}

.login-message {
  background-color: var(--back-color);
  border: solid var(--accent-red) 4px;
  border-radius: 8px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  max-width: 400px;
  height:fit-content;
  padding: 2%;
}

.message-brk {
 margin-bottom: 5%;
 border-bottom: solid var(--accent-red) 2px;
}

.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% 2%;
  border: solid var(--accent-red) 4px;
  border-radius: 12px;
 width: fit-content;
}

.calc-header {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items:center;
  margin-bottom: 15%;
}

.calc-header-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  padding: 5%;
  border-radius: 10px;
  /* background-color:ivory; */
}

.recipe-input {
  margin-left: 2%;
}



#savebtn {
  height: fit-content;
  padding: 2%;

}

.form-header-main{
  /* background-color: #175676 ; */
  /* border-radius: 6px; */
  
 
  color: var(--accent-red);
  padding: 1%;
}

.form-header h4 {
  margin-left: 1%;
}

.input-small {
  width: 28px;
}

.stats-output {
  display: flex;
  align-items: center;
  justify-content: center;
}


.stats-output h3 {
  
 margin: 0 5%;
  
}



.ferm-calc {
  /* background-color: #cbe2ee ; */
  /* border: solid var(--accent-red) 4px; */
 
  margin-bottom: 2%;
  border-bottom: solid var(--accent-red) 6px;
}

.hop-calc {
  /* background-color: #cbe2ee ; */
  /* border: solid var(--accent-red) 4px; */
  margin-bottom: 2%;
  border-bottom: solid var(--accent-red) 6px;
}